#Byte-compiled/optimized/DLLfiles
__pycache__/
*.py[cod]
*$py.class

#Cextensions
*.so
.idea

#Distribution/packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

#PyInstaller
#Usuallythesefilesarewrittenbyapythonscriptfromatemplate
#beforePyInstallerbuildstheexe,soastoinjectdate/otherinfosintoit.
*.manifest
*.spec

#Installerlogs
pip-log.txt
pip-delete-this-directory.txt

#Unittest/coveragereports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

#Translations
*.mo
*.pot

#Djangostuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

#Flaskstuff:
instance/
.webassets-cache

#Scrapystuff:
.scrapy

#Sphinxdocumentation
docs/_build/

#PyBuilder
target/

#JupyterNotebook
.ipynb_checkpoints

#IPython
profile_default/
ipython_config.py

#pyenv
.python-version

#pipenv
#Accordingtopypa/pipenv#598,itisrecommendedtoincludePipfile.lockinversioncontrol.
#However,incaseofcollaboration,ifhavingplatform-specificdependenciesordependencies
#havingnocross-platformsupport,pipenvmayinstalldependenciesthatdon'twork,ornot
#installallneededdependencies.
#Pipfile.lock

#PEP582;usedbye.g.github.com/David-OConnor/pyflow
__pypackages__/

#Celerystuff
celerybeat-schedule
celerybeat.pid

#SageMathparsedfiles
*.sage.py

#Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

#Spyderprojectsettings
.spyderproject
.spyproject

#Ropeprojectsettings
.ropeproject

#mkdocsdocumentation
/site

#mypy
.mypy_cache/
.dmypy.json
dmypy.json

#Pyretypechecker
.pyre/
